{% extends "layout.html" %}

{% block title %}Hae retkeilyvarustelistoja{% endblock %}

{% block content %}
<h2>Hae retkeilyvarustelistoja</h2>

<form action="/find_pack" method="get">
<p>
  <label for="query">Hakusana:</label> <input type="text" name="query" id="query" value="{{ query if query else '' }}">
</p>
<input type="submit" value="Hae">
</form>

{% if query %}
<h3>Tulokset</h3>

<ul>
  {% for pack in results %}
  <li><a href="/pack/{{ pack.id }}">{{ pack.title }}</a></li>
  {% endfor %}
</ul>
{% if page_count > 1 %}
<p>
  <a href="/find_pack/1?query={{ query|urlencode }}">&laquo;&laquo;</a>
  <a href="/find_pack/{{ page - 1 }}?query={{ query|urlencode }}">&lt;&lt;</a>

  Sivu {{ page }}/{{ page_count }}

  <a href="/find_pack/{{ page + 1 }}?query={{ query|urlencode }}">&gt;&gt;</a>
  <a href="/find_pack/{{ page_count }}?query={{ query|urlencode }}">&raquo;&raquo;</a>
</p>
<hr />
{% endif %}
{% endif %}
{% endblock %}
