{% extends "layout.html" %}

{% block title %}Retkeilyvarusteet{% endblock %}

{% block content %}
{% if packs %}
<h2>Reput</h2>


{% for pack in packs %}
<div class="item">
<a href="/pack/{{ pack.id }}">{{ pack.title }}</a> <br />
Repun omistaja: <a href="/user/{{ pack.user_id }}">{{ pack.username }}</a> <br />
Kommentien määrä: {{ pack.comment_count }}

</div>
{% endfor %}
{% if page_count > 1 %}
<p>
  <a href="/1">&laquo;&laquo;</a>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
  <a href="/{{ page_count }}">&raquo;&raquo;</a>
</p>
<hr />
{% endif %}
{% endif %}

{% endblock %}
