<!DOCTYPE html>
<html>

<head>
  <title>Uusi retkeilyvarustelista</title>
</head>

<body>
  <h1>Uusi retkeilyvarustelista</h1>
  <form action="/create_item" method="post">
    <p>
      Repun nimi: <br />
      <input type="text" name="title" maxlength="50" required />
    </p>
    <p>
        Sisältö: <br />
        <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
    Repun hinta <br />
    <input type="text" name="price" size="5" pattern="[1-9][0-9]{0,3}" required /> €
    </p>
    <p>
      Vuodenaika: <br />
      <select name="season">
        <option value="">(valitse)</option>
        <option value="3-vuodenaikaa">3-vuodenaikaa</option>
        <option value="4-vuodenaikaa">4-vuodenaikaa</option>
        <option value="talvi">talvi</option>
        <option value="kesä">kesä</option>
      </select>
     </p>
     <p>
      Kesto: <br />
      <select name="duration">
        <option value="">(valitse)</option>
        <option value="1 päivä">1 päivä</option>
        <option value="2-4 päivää">2-4 päivää</option>
        <option value="5-7 päivää">5-7 päivää</option>
        <option value="7-14 päivää">7-14 päivää</option>
      </select>
      </p>
    <input type="submit" value="Luo reppu" />
  </form>
</body>

</html>
