{% extends "layout.html" %}

{% block title %}{{ pack.title }}{% endblock %}

{% block content %}
<h2>{{ pack.title }}</h2>
{% if session.user_id == pack.user_id %}
<p>
  <a href="/edit_pack/{{ pack.id }}">Muokkaa</a>
  <a href="/remove_pack/{{ pack.id }}">Poista</a>
  <a href="/edit_images/{{ pack.id }}">Kuvat</a>
</p>
{% endif %}
<p>
{% if session.user_id != pack.user_id %}
<p>
  <a href="/show_images/{{ pack.id }}">Kuvat</a>
</p>
{% endif %}
<p>
  <h4>Repun isältö:</h4>
  <pre>{{ pack.description }}</pre>
</p>
<ul>
  <li>Repun paino: {{ pack.weight }} kg</li>
  <li>Repun hinta: {{ pack.price }} €</li>
  <li>Repun omistaja: <a href="/user/{{ pack.user_id }}">{{ pack.username  }} </a></li>
{% if classes %}
    {% for class in classes %}
    <li>{{ class.title }}: {{ class.value }}</li>
    {% endfor %}
{% endif %}
</ul>
{% if comments %}
<h3>Kommentit</h3>
<ul>
  {% for comment in comments %}
  <li><pre>{{ comment.comment }}, <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a></pre>
  {% if session.user_id == comment.user_id %}
  <form action="/remove_comment/{{ comment.id }}" method="post">
        <input type="hidden" name="pack_id" value="{{ pack.id }}" />
        <input type="submit" name="remove" value="Poista" />
  </form>
  {% endif %}
  </li>

  {% endfor %}
</ul>
{% endif %}
{% if session.user_id %}
<h3>Uusi kommentti</h3>
<form action="/create_comment" method="post">
  Kommentti: <br />
  <textarea name="comment" rows="8" cols="60" maxlength="200" required></textarea> <br />
  <input type="hidden" name="pack_id" value="{{ pack.id }}">
  <input type="submit" value="Kommentoi" />
</form>
{% endif %}
{% endblock %}
