{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>
{% if session.user_id == user.id %}
<p>
  <a href="/remove_user/{{ user.id }}">Poista käyttäjä</a>
</p>
{% endif %}
<p>
  Käyttäjällä on yhteensä {{ packs | count }} retkeilyvarustelistaa ja {{ comments | count }} kommenttia keskusteluissa.
</p>
<h2>Ilmoitukset</h2>
<ul>
  {% for pack in packs %}
  <li><a href="/pack/{{ pack.id }}">{{ pack.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
